<%= simple_form_for([@business, @business.likes.build]) do |f| %>
  <div id="rating-form">
  <label>rating</label>
  </div>
  
  <%= f.input :comment %>
  <%= f.button :submit %>
<% end %>

<script>
$('#rating-form').raty({
	path: '/assets/',
	scoreName: 'like[rating]'
});
</script>
