/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


.navbar{

	border:solid red 2px;
	background-color: grey;


}
.index-header{
	text-align: center;

}

.business-heading{
	text-align: center;
}
.rounded{
	margin-left: 45%;
}
.thumbnail{
	border: solid red 2px;
}
#rating-form{
    border: solid red 2px;
	box-shadow: 3px 3px 3px 3px #ccc;

}
.col-sm-3{
	box-shadow: 3px 3px 3px 3px #ccc;
	padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.col-md-8{
box-shadow: 3px 3px 3px 3px #ccc;
	
}
.navbar a {
	color:white !important;
}
.col-sm-3 img{
	display: block;
    margin: 0 auto;
}
.red-cat a{
	color:red !important;
}
.row img{
	display: block;
    margin: 0 auto;
}
.average-like-rating img{
	display: inline-block;
}
.like-rating img{
	display: inline-block;
}
.row {
	margin-left: 0px;
	box-shadow: 3px 3px 3px 3px #ccc;
}
iframe{
	display: block;
    margin: 0 auto;
    width : 90%;
    height: 30%;
}